In [15]:
# Program to analyze bank budget
# Author: Thomas Bales
# Date: 1/1/2022
# Version: 1.0

# imports
from pathlib import Path
import pandas as pd
# create global variables for analysis

total_months = 0
total_revenue = 0
average_change = 0
greatest_increase_in_profits = (' ', 0)
greatest_decrease_in_profits = (' ', 0)

In [16]:
# check working directory
print(f"Current working directory is {Path.cwd()}")

Current working directory is C:\Users\rainb\fintech-homework\python-homework\PyBank

In [17]:
# assign a path to the budget csv
file = Path('./Resources/budget_data.csv')

In [23]:
# assign a panda reader to the data with a comma delimeter
budget_data_csv = pd.read_csv(file, ',')

C:\Users\rainb\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
# look at the data
budget_data_csv.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [24]:
# Check the top 10 rows
budget_data_csv.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [26]:
# change the headers to m_date, m_profit_losses
budget_data_csv = budget_data_csv.rename(columns={'Date' : 'm_date'})
budget_data_csv = budget_data_csv.rename(columns={'Profit/Losses' : 'm_profit_losses'})

In [27]:
# check header names
budget_data_csv.head(10)

     m_date  m_profit_losses
0  Jan-2010           867884
1  Feb-2010           984655
2  Mar-2010           322013
3  Apr-2010           -69417
4  May-2010           310503
5  Jun-2010           522857
6  Jul-2010          1033096
7  Aug-2010           604885
8  Sep-2010          -216386
9  Oct-2010           477532

In [28]:
# add headers percent_change, value_change for analysis and initialize
budget_data_csv["percent_change"] = 0
budget_data_csv["value_change"] = 0

In [30]:
# check data changes
budget_data_csv.tail(10)

      m_date  m_profit_losses  percent_change  value_change
76  May-2016           445709               0             0
77  Jun-2016           712961               0             0
78  Jul-2016         -1163797               0             0
79  Aug-2016           569899               0             0
80  Sep-2016           768450               0             0
81  Oct-2016           102685               0             0
82  Nov-2016           795914               0             0
83  Dec-2016            60988               0             0
84  Jan-2017           138230               0             0
85  Feb-2017           671099               0             0

In [33]:
# calculate percent change by using an iterator
# idx = index of itteration
count = 0
for idx, row in budget_data_csv.iterrows():
    if count == 0:
        budget_data_csv.at[idx, 'percent_change'] = 0
    else:
        old_value = budget_data_csv['m_profit_losses'].iloc[(idx - 1)]
        new_value = budget_data_csv['m_profit_losses'].iloc[idx]
        # get the delta
        delta = new_value - old_value
        # assign the delta to value_change
        budget_data_csv.at[idx, 'value_change'] = delta
        # assign the percent change to 'percent_change'
        budget_data_csv.at[idx, 'percent_change'] = (new_value - old_value) / old_value * 100
    count += 1

In [42]:
# check the head
budget_data_csv.head()

     m_date  m_profit_losses  percent_change  value_change
0  Jan-2010           867884               0             0
1  Feb-2010           984655              13        116771
2  Mar-2010           322013             -67       -662642
3  Apr-2010           -69417            -121       -391430
4  May-2010           310503            -547        379920

In [105]:
# Get the total number of months included in the dataset
total_months = budget_data_csv.count()
# Check to see if non nulls match shape of frame
total_int_months = budget_data_csv.shape[0]

In [107]:
print(f"Total months {total_months}")
print(f"Total months - shape {total_int_months}")
print(type(total_int_months))

Total months m_date             86
m_profit_losses    86
percent_change     86
value_change       86
dtype: int64
Total months - shape 86
<class 'int'>

In [104]:
# Get the net total amount of Profit/Losses over the entire period.
total = 0
for idx, row in budget_data_csv.iterrows():
    x = int(budget_data_csv['m_profit_losses'].iloc[idx])
    total = total + x

In [77]:
print(total)

38382578

In [ ]:
# Get the average of the changes in Profit/Losses over the entire period.

In [96]:
total_change = 0
m_count = 0
for idx, row in budget_data_csv.iterrows():
    if idx > 0 :
        x = int(budget_data_csv['value_change'].iloc[idx]) 
        total_change = total_change + x

In [92]:
# Test
print(total_change)

-196785

In [133]:
# divide by number of months
average_change = total_change / (total_int_months - 1) # excludes one month of no change
print(average_change)

-2315.1176470588234

In [145]:
# check using a filters for the largest value
top_1 = budget_data_csv['value_change'].nlargest(1)
# get the date and amount

In [146]:
print(top_1)

25    1926159
Name: value_change, dtype: int64

In [179]:
# get row 25 in a filter to preserve row data
df_top = budget_data_csv.filter(items = [25], axis = 0)
# check
df_top.head()

      m_date  m_profit_losses  percent_change  value_change
25  Feb-2012          1170593            -254       1926159

In [ ]:
# pull the values from the dataframe
greatest_increase_profit_month = df_top.astype(str).tail(1).reset_index().loc[0, 'm_date']
greatest_increase_profit_value = int(df_top['value_change'])

In [ ]:
# check using filters for the smallest value
bottom_1 = budget_data_csv['value_change'].nsmallest(1)

In [124]:
print(bottom_1)

44   -2196167
Name: value_change, dtype: int64

In [151]:
# Get row 44 in a foilter to preserve row data
df_bottom = budget_data_csv.filter(items = [44], axis = 0 )

In [ ]:
df_bottom.head()

In [190]:
greatest_decrease_month = df_bottom.astype(str).head(1).reset_index().loc[0, 'm_date']
greatest_decrease_profit_value = int(df_bottom['value_change'])

In [193]:
print(greatest_decrease_month)
print(greatest_decrease_profit_value)

Sep-2013
-2196167

In [211]:
# print the data
print("Financial Analysis")
print("---------------------------------")
print(f"Total Months: {total_int_months}")
print(f"Total: ${total}")
print(f"Average Change: ${round(average_change, 2)}")
print(f"Greatest Increase in Profits {greatest_increase_profit_month}  (${C})")
print(f"Greatest Decrease in Profits {greatest_decrease_month} (${greatest_decrease_profit_value})")

Financial Analysis
---------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits Feb-2012  ($1926159)
Greatest Decrease in Profits Sep-2013 ($-2196167)

In [239]:
# create a string for the output file
my_fintech = ""

In [240]:
my_fintech =  "Financial Analysis" + "\n" + "-----------------------------\n" + "Total Months: " + str(total_int_months) + "\n" 
my_fintech += "Total : $" + str(total) + "\n"
my_fintech += "Average Change: $" + str(round(average_change, 2)) + "\n"
my_fintech += "Greatest Increase in Profits " + str(greatest_increase_profit_month) + " ($" +  str(greatest_increase_profit_value) + ")" + "\n"
my_fintech += "Greatest Decrease in Profits " + str(greatest_decrease_month) + " ($" +  str(greatest_decrease_profit_value) + ")" + "\n"

In [241]:
# Testing the print string
print(my_fintech)

Financial Analysis
-----------------------------
Total Months: 86
Total : $38382578
Average Change: $0
Greatest Increase in Profits Feb-2012 ($1926159)
Greatest Decrease in Profits Sep-2013 ($-2196167)

In [242]:
# create a new path for the ouput file
output_file = Path('./Resources/fintech_output.txt')

In [243]:
# write the file
with open(output_file, 'w') as f:
    f.write(my_fintech)

In [ ]:
# All done!!!